<p>
    <strong>Danze imparate:</strong>
    <a class="content-link" draggable="true" data-link data-uuid="Compendium.fabula.classfeatures.Item.HFwe2QrtVftLuPW4" data-id="HFwe2QrtVftLuPW4" data-type="Item" data-tooltip="Apri lista delle danze">
        Danze
    </a>
</p>

{{#gt (arrayLength skills) 0}}
    <ul class="list">
        {{#each skills}}
            {{#if (eq this.system.class 'dancer')}}
                {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=actor item=this}}
            {{/if}}
        {{/each}}
    </ul>
{{/gt}}