/* 
------------------------------------------
Typography
------------------------------------------
*/

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400;700&display=swap");

@font-face {
	font-family: "RPGAwesome";
	src: url("../fonts/rpgawesome-webfont.eot?v=0.1.0");
	src: url("../fonts/rpgawesome-webfont.eot?#iefix&v=0.1.0") format("embedded-opentype"), url("../fonts/rpgawesome-webfont.woff?v=0.1.0") format("woff"), url("../fonts/rpgawesome-webfont.ttf?v=0.1.0") format("truetype"), url("../fonts/rpgawesome-webfont.svg?v=0.1.0#rpg-awesome") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Yanone Kaffeesatz";
	src: url("../fonts/yanone-kafffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf") format("truetype");
	font-optical-sizing: auto;
	font-weight: 200 700;
	font-style: normal;
}
@font-face {
	font-family: "Fabula Ultima icons";
	src: url("../fonts/fabula-ultima/FabulaUltimaIcons-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CreditValley";
	src: url("../fonts/credit-valley/CreditValley.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CreditValleybold";
	src: url("../fonts/credit-valley/CreditValleybold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "trigger-bold";
	src: url("../fonts/trigger-bold/trigger-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Evilz";
	src: url("../fonts/evil-font/Evilz.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "FnT_BasicShapes1";
	src: url("../fonts/fnt-bs/FNT_BS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "old retro labels tfb";
	src: url("../fonts/old-retro-labels-tfb/old_retro_labels_tfb.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	src: url("../fonts/material-symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff");
}
@font-face {
	font-family: "Material Symbols Rounded";
	font-style: normal;
	src: url("../fonts/material-symbols/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2") format("woff");
}
@font-face {
	font-family: "Material Symbols Sharp";
	font-style: normal;
	src: url("../fonts/material-symbols/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2") format("woff");
}
@counter-style diamonds {
	system: cyclic;
	suffix: " ";
	symbols: "◆";
}

/* 
------------------------------------------
End Typography
------------------------------------------
*/

/* Sheets > General */
.window-app.sheet .window-content {background-image:none;background-color:#FFF;padding:0;}
.window-app.sheet .window-resizable-handle {display:none;}

/* Sheets > Class */
.sheet .class .sheet-header {position:relative;padding:40px 60px 5px;background-repeat:no-repeat;background-position:center center;background-size:cover;background-image:url(../img/bg-class-header.png);flex-grow:0;outline:1px solid #2B4A42;outline-offset:1px;}
.sheet .class .sheet-header input {border:0;border-radius:0;background-color:transparent;width:100%;padding:0;height:auto;color:#FFF;text-transform:uppercase;font-family:CreditValley;font-size:50px;}
.sheet .class .sheet-header .class-icon {position:absolute;bottom:0;right:50px;z-index:1;width:54px;height:54px;padding:9px;border:3px solid #2B4A42;outline:1px solid #2B4A42;outline-offset:-6px;background-color:#e5f1e7;transform:translate(50%, 50%) rotate(45deg);}
.sheet .class .sheet-header .class-icon img {border:0;margin:0;width:100%;height:100%;object-position:center center;object-fit:contain;transform:rotate(-45deg);}
.sheet .class .sheet-body {display:flex;flex-direction:column;padding:0 50px;flex-grow:1;background-repeat:no-repeat;background-position:center left, center right;background-size:50px 100%;background-image:url(../img/bg-class-body-left.png), url(../img/bg-class-body-right.png);}
.sheet .class .sheet-body .tab:first-child {display:block;min-height:100%;border-left:2px solid #2B4A42;border-right:2px solid #2B4A42;outline:1px solid #2B4A42;outline-offset:1px;position:relative;}
.sheet .class .img-class-primary {border:0;border-radius:0;max-width:100%;height:100%;width:auto;position:absolute;bottom:0;height:530px;left:-52px;}
.sheet .class .form-alias {width:70%;margin:0;position:absolute;top:15px;padding:8px 20px 3px;background-image:linear-gradient(to right, rgba(227,240,228,1) 0%, rgba(227,240,228,1) 30%, rgba(227,240,228,0) 100%);font-family:"Yanone Kaffeesatz", sans-serif;font-size:25px;}
.sheet .class .form-alias::before {content:"";position:absolute;top:0;left:0;right:0;width:100%;height:1px;background-image:linear-gradient(to left, rgba(43,74,66,0) 0%, rgba(43,74,66,.4) 30%, rgb(43,74,66) 100%);}
.sheet .class .form-alias::after {content:"";position:absolute;bottom:0;left:0;right:0;width:100%;height:1px;background-image:linear-gradient(to left, rgba(43,74,66,0) 0%, rgba(43,74,66,.4) 30%, rgb(43,74,66) 100%);}
.sheet .class .form-alias label {flex:unset;text-transform:uppercase;line-height:1;color:#2A3331;margin-right:5px;}
.sheet .class .form-alias input {width:auto;background:transparent;padding:0;border-radius:0;line-height:1;color:#2A3331;}
.sheet .class .desc-container {position:absolute;right:15px;bottom:15px;z-index:1;width:60%;}
.sheet .class .desc-container .box {padding:5px 15px;border:1px solid rgba(43,74,66,.3);border-radius:10px;background-image:linear-gradient(to left, rgba(229, 241, 231,0) 0%, rgb(229, 241, 231) 100%);font-family:"Yanone Kaffeesatz", sans-serif;font-size:17px;text-align:justify;color:#2A3331;}
.sheet .class .desc-container .box + .box {margin-top:15px;}
.sheet .class .list-questions {list-style:diamonds;padding-left:12px;color:#2A3331;}
.sheet .class .list-questions > li::marker {font-size:13px;}
.sheet .class .list-questions > li + li {margin-top:5px;}
.sheet .class .list-questions input {border:0;width:100%;margin:0;background:none;line-height:1.2;height:auto;padding:0;padding-left:5px;color:#2A3331;}