/* 
------------------------------------------
Typography
------------------------------------------
*/

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400;700&display=swap");

@font-face {
	font-family: "RPGAwesome";
	src: url("../fonts/rpgawesome-webfont.eot?v=0.1.0");
	src: url("../fonts/rpgawesome-webfont.eot?#iefix&v=0.1.0") format("embedded-opentype"), url("../fonts/rpgawesome-webfont.woff?v=0.1.0") format("woff"), url("../fonts/rpgawesome-webfont.ttf?v=0.1.0") format("truetype"), url("../fonts/rpgawesome-webfont.svg?v=0.1.0#rpg-awesome") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Yanone Kaffeesatz";
	src: url("../fonts/yanone-kafffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf") format("truetype");
	font-optical-sizing: auto;
	font-weight: 200 700;
	font-style: normal;
}
@font-face {
	font-family: "Fabula Ultima icons";
	src: url("../fonts/fabula-ultima/FabulaUltimaIcons-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CreditValley";
	src: url("../fonts/credit-valley/CreditValley.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CreditValleybold";
	src: url("../fonts/credit-valley/CreditValleybold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "trigger-bold";
	src: url("../fonts/trigger-bold/trigger-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Evilz";
	src: url("../fonts/evil-font/Evilz.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "FnT_BasicShapes1";
	src: url("../fonts/fnt-bs/FNT_BS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "old retro labels tfb";
	src: url("../fonts/old-retro-labels-tfb/old_retro_labels_tfb.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	src: url("../fonts/material-symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff");
}
@font-face {
	font-family: "Material Symbols Rounded";
	font-style: normal;
	src: url("../fonts/material-symbols/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2") format("woff");
}
@font-face {
	font-family: "Material Symbols Sharp";
	font-style: normal;
	src: url("../fonts/material-symbols/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].woff2") format("woff");
}
@counter-style diamonds {
	system: cyclic;
	suffix: " ";
	symbols: "◆";
}

/* 
------------------------------------------
End Typography
------------------------------------------
*/

/* Variables */
body {
	/* Fabula */
	--color-white: #FFFFFF;
	--text-color: #2A3331;
	--color-primary: #2B4A42;
	--color-primary-rgb: 43,74,66;
	--color-gradient-bg-rgb: 227,240,228;
	--color-brown-rgb: 139,92,0;
	--color-azure-rgb: 0,89,149;
	--color-green-rgb: 47,106,41;
	--color-red-rgb: 135,25,6;
	--color-purple-rgb: 87,45,87;

	/* Sheets */
	--sheet-text-color: #6D9187;
	--sheet-header-bg: url(../img/bg-class-header.png);
	--sheet-body-bg-left: url(../img/bg-class-body-left.png);
	--sheet-body-bg-right: url(../img/bg-class-body-right.png);
	--input-background-color: transparent;
	--color-shadow-primary: var(--color-primary);
	--input-border-color: var(--color-primary);
}

/* Globals */
.m-0 {margin:0 !important;}
.mt-0 {margin-top:0 !important;}
.list-base {list-style:diamonds;padding-left:12px;}
.list-base > li::marker {font-size:12px;color:var(--color-primary);}
.list-base > li {padding-left:5px;}

/* Icons */
.icon-offensive {background-image:url(../icons/icon-offensive.svg);}

/* UI */
.directory .directory-item img {object-fit:contain;}

/* Dialog */
.dialog-content {
	--checkbox-background-color: var(--color-primary);
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 16px;
}
.dialog-content .title {font-family:"Yanone Kaffeesatz", sans-serif;font-size:18px;font-weight:500;color:var(--color-white);background-color:var(--color-primary);padding:6px 18px 3px;margin:15px -8px 8px;}
.dialog-content .title:first-child {margin-top:0;}
.dialog-content input[type="checkbox"]:checked, .dialog-content input[type="radio"]:checked {--color-checkbox-checked:var(--color-primary);}
.dialog-content .form-checks {margin-bottom:8px;}
.dialog-content .flexrow {gap:10px 0;}
.dialog-content .flexrow .form-group {flex-basis:33%;display:flex;align-items:center;}
.dialog-content .flexrow .form-group.w-100 {flex-basis:100%;}
.dialog-content .flexrow .form-group input[type="checkbox"] {margin:0;flex-shrink:0;}
.dialog-content .flexrow .form-group input:not([type="checkbox"]):not([type="radio"]) {width:auto;margin-left:auto;}
.dialog-content .flexrow .form-group label {padding-left:5px;}

/* Editor */
.editor-content h2 {position:relative;width:80%;border:0;text-transform:uppercase;font-family:"Yanone Kaffeesatz", sans-serif;font-weight:500;font-size:23px;padding:8px 15px 3px;margin:20px 0 5px;background:linear-gradient(to right, rgba(var(--color-gradient-bg-rgb),1) 0%, rgba(var(--color-gradient-bg-rgb),1) 30%, rgba(var(--color-gradient-bg-rgb),0) 100%);}
.editor-content h2:first-of-type {margin-top:0;}
.editor-content h2::after {content:"";position:absolute;bottom:0;left:0;right:0;width:100%;height:1px;background:linear-gradient(to left, rgba(var(--color-primary-rgb),0) 0%, rgba(var(--color-primary-rgb),.4) 30%, rgba(var(--color-primary-rgb)) 100%);}
.editor-content ul {list-style:diamonds;padding-left:12px;}
.editor-content ul > li::marker {font-size:12px;color:var(--color-primary);}
.editor-content ul > li {padding-left:5px;}
.editor-content ul > li + li {margin-top:0.5em;}
.editor-content ul > li p:first-child {margin-top:0;}
.editor-content ul > li p:last-child {margin-bottom:0;}
.editor-content blockquote {transform:translateX(-15px);border:0;margin-left:0;margin-right:0;font-style:inherit;padding-left:15px;background:linear-gradient(to left, rgba(var(--color-gradient-bg-rgb),0) 0%, rgba(var(--color-gradient-bg-rgb),1) 100%);}
.editor-content blockquote > * {display:inline-block;}
a.content-link, a.inline-roll {background-color:var(--color-primary);color:var(--color-white);font-weight:400;text-transform:uppercase;border-radius:5px;text-shadow:none;transition:box-shadow .15s ease-in-out;}
a.content-link:hover, a.inline-roll:hover {box-shadow:0 0 10px rgba(var(--color-primary-rgb));}
a.content-link i, a.inline-roll i {color:var(--color-white);}

/* Sheets > General */
.window-app.sheet .window-content {background-image:none;background-color:var(--color-white);padding:0;}
.window-app.sheet .window-resizable-handle {display:none;}

/* Sheets > Variables */
.sheet.atlasHighFantasy {
	--color-primary: #871728;
	--color-primary-rgb: 135,23,40;
	--color-gradient-bg-rgb: 253,228,217;
	--color-green-rgb: var(--color-red-rgb);
	--sheet-text-color: #A1574D;
	--sheet-header-bg: url(../img/high-fantasy/bg-class-header.png);
	--sheet-body-bg-left: url(../img/high-fantasy/bg-class-body-left.png);
	--sheet-body-bg-right: url(../img/high-fantasy/bg-class-body-right.png);
}
.sheet.atlasTechnoFantasy {
	--color-primary: #416476;
	--color-primary-rgb: 65,100,118;
	--color-gradient-bg-rgb: 220,233,242;
	--color-green-rgb: var(--color-azure-rgb);
	--sheet-text-color: #A8BDCE;
	--sheet-header-bg: url(../img/techno-fantasy/bg-class-header.png);
	--sheet-body-bg-left: url(../img/techno-fantasy/bg-class-body-left.png);
	--sheet-body-bg-right: url(../img/techno-fantasy/bg-class-body-right.png);
}
.sheet.atlasNaturalFantasy {
	--color-primary: #8D4C24;
	--color-primary-rgb: 140,76,36;
	--color-gradient-bg-rgb: 244,224,193;
	--color-green-rgb: var(--color-brown-rgb);
	--sheet-text-color: #E0CBAD;
	--sheet-header-bg: url(../img/natural-fantasy/bg-class-header.png);
	--sheet-body-bg-left: url(../img/natural-fantasy/bg-class-body-left.png);
	--sheet-body-bg-right: url(../img/natural-fantasy/bg-class-body-right.png);
}
.sheet.bonusNecromancer {
	--color-primary: #363E52;
	--color-primary-rgb: 54,62,82;
	--color-gradient-bg-rgb: 231,229,241;
	--color-green-rgb: 55,62,82;
	--sheet-text-color: #9397A2;
	--sheet-header-bg: url(../img/bonus-necromancer/bg-class-header.png);
	--sheet-body-bg-left: url(../img/bonus-necromancer/bg-class-body-left.png);
	--sheet-body-bg-right: url(../img/bonus-necromancer/bg-class-body-right.png);
}
.sheet.bonusAce {
	--color-primary: #000000;
	--color-primary-rgb: 0,0,0;
	--color-gradient-bg-rgb: 228,228,228;
	--color-green-rgb: 0,0,0;
	--sheet-text-color: #BEBDBD;
	--sheet-header-bg: url(../img/bonus-ace/bg-class-header.png);
	--sheet-body-bg-left: url(../img/bonus-ace/bg-class-body-left.png);
	--sheet-body-bg-right: url(../img/bonus-ace/bg-class-body-right.png);
}
.sheet.bonusAce .class .sheet-header {outline-color:#CD1719;}
.sheet.bonusAce .class .sheet-header .class-icon {border-color:#CD1719;outline-color:#CD1719;}
.sheet.bonusAce .class .sheet-body .tab {border-color:#CD1719;outline-color:#CD1719;}

/* Sheets > General */
.sheet {
	--color-scrollbar:var(--color-primary);
	--color-checkbox-checked: var(--color-primary);
}
.sheet form {max-height:100%;}
.sheet .editable button:not(.editor button) {width:auto;margin:0;background-color:var(--color-white);border:1px solid var(--color-primary);border-radius:5px;font-size:16px;line-height:1.2;--color-shadow-primary:var(--color-primary);transition:box-shadow .15s ease-in-out;}
.sheet .sheet-header {position:relative;min-height:93px;padding:40px 75px 5px;background-repeat:no-repeat;background-position:center center;background-size:cover;background-image:var(--sheet-header-bg);flex-grow:0;outline:1px solid var(--color-primary);outline-offset:1px;}
.sheet .sheet-header input {border:0;border-radius:0;background-color:transparent;width:100%;padding:0;height:auto;color:var(--color-white);text-transform:uppercase;font-family:CreditValley;font-size:50px;}
.sheet .sheet-header .icon {position:absolute;bottom:14px;left:35px;width:30px;height:30px;background-repeat:no-repeat;background-position:center center;background-size:contain;}
.sheet .sheet-header .class-icon {position:absolute;bottom:0;right:50px;z-index:1;width:54px;height:54px;padding:9px;border:3px solid var(--color-primary);outline:1px solid var(--color-primary);outline-offset:-6px;background-color:var(--color-white);transform:translate(50%, 50%) rotate(45deg);}
.sheet .sheet-header .class-icon img {border:0;margin:0;width:100%;height:100%;object-position:center center;object-fit:contain;transform:rotate(-45deg);}
.sheet .sheet-header .select-source {background-color:var(--color-white);border:1px solid var(--color-primary);border-radius:10px;box-shadow:none;color:var(--color-primary);padding:5px 10px;height:auto;text-transform:uppercase;position:absolute;left:50px;}
.sheet .sheet-header .select-source.is-top-right {top:5px;right:5px;left:unset;}
/* .sheet:not([id*="Compendium"]) .sheet-header .select-source {display:none;} */
.sheet .sheet-header .select-source option {text-transform:none;}

.sheet .sheet-tabs.tabs-bookmark {position:absolute;width:48px;bottom:50px;right:0;z-index:3;border:0;margin:0;flex-direction:column;gap:5px;}
.sheet .sheet-tabs.tabs-bookmark > [data-tab] {position:relative;width:100%;height:100px;padding:0;text-transform:uppercase;text-shadow:none;letter-spacing:1px;font-family:"Yanone Kaffeesatz", sans-serif;font-weight:500;font-size:16px;color:var(--color-white);margin:2px 0;border-top:1px solid var(--color-white);border-bottom:1px solid var(--color-white);background:linear-gradient(to left, rgba(var(--color-green-rgb), 1) 0%, rgba(var(--color-green-rgb), .4) 100%);filter:grayscale(1);transition:filter .3s ease-in-out;}
.sheet .sheet-tabs.tabs-bookmark > [data-tab]::before {content:"";position:absolute;top:-1px;left:0;right:0;width:100%;height:2px;transform:translate(0,-100%);background:linear-gradient(to left, rgba(var(--color-green-rgb), 1) 0%, rgba(var(--color-green-rgb), .4) 100%);}
.sheet .sheet-tabs.tabs-bookmark > [data-tab]::after {content:"";position:absolute;bottom:-1px;left:0;right:0;width:100%;height:2px;transform:translate(0,100%);background:linear-gradient(to left, rgba(var(--color-green-rgb), 1) 0%, rgba(var(--color-green-rgb), .4) 100%);}
.sheet .sheet-tabs.tabs-bookmark > [data-tab] span {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(90deg);transform-origin:center center;}
.sheet .sheet-tabs.tabs-bookmark > [data-tab]:hover, .sheet .sheet-tabs.tabs-bookmark > [data-tab].active {filter:grayscale(0)}

.sheet .sheet-body {max-height:calc(100% - 93px);display:flex;flex-direction:column;padding:0 50px;flex-grow:1;background-repeat:no-repeat;background-position:center left, center right;background-size:50px 600px;background-image:var(--sheet-body-bg-left), var(--sheet-body-bg-right);}
.sheet .sheet-body .tab {padding:15px;overflow:hidden;overflow-y:auto;min-height:100%;max-height:577px;border-left:2px solid var(--color-primary);border-right:2px solid var(--color-primary);outline:1px solid var(--color-primary);outline-offset:1px;position:relative;font-family:"PT Sans Narrow", sans-serif;font-size:16px;}

/* Sheets > Title */
.sheet .title {position:relative;width:80%;text-transform:uppercase;font-family:"Yanone Kaffeesatz", sans-serif;font-weight:500;font-size:23px;padding:8px 15px 3px;margin:20px 0 5px;background:linear-gradient(to right, rgba(var(--color-gradient-bg-rgb),1) 0%, rgba(var(--color-gradient-bg-rgb),1) 30%, rgba(var(--color-gradient-bg-rgb),0) 100%);}
.sheet .title:first-of-type {margin-top:0;}
.sheet .title::after {content:"";position:absolute;bottom:0;left:0;right:0;width:100%;height:1px;background:linear-gradient(to left, rgba(var(--color-primary-rgb),0) 0%, rgba(var(--color-primary-rgb),.4) 30%, rgba(var(--color-primary-rgb)) 100%);}
.sheet .title input {margin:0;height:20px;border-radius:0;border:0;background:transparent;padding:0;line-height:1.2;text-transform:uppercase;}
.sheet .editable .title input {height:auto;}
.sheet .editor {min-height:150px;}
.sheet .editor-full {height:100%;}
.sheet .sheet-body .btn-container {display:flex;flex-wrap:wrap;gap:10px;margin-bottom:5px;}
.sheet .sheet-body .btn-container button[data-target] {font-size:19px;padding:0;display:inline-flex;align-items:center;justify-content:center;width:25px;height:25px;}

/* Sheets > Table */
.sheet table {margin:15px 0 0;border:0;background:linear-gradient(to left, rgba(var(--color-gradient-bg-rgb),0) 0%, rgba(var(--color-gradient-bg-rgb),1) 100%);}
.sheet table thead {background-color:var(--color-primary);color:var(--color-white);text-shadow:none;border:0;text-transform:uppercase;letter-spacing:1px;font-family:"Yanone Kaffeesatz", sans-serif;font-size:20px;}
.sheet table thead tr th {font-weight:500;padding:7px 5px 4px;text-align:center;}
.sheet table.is-3 thead tr th {width:33%;}
.sheet table.is-4 thead tr th {width:25%;}
.sheet table tbody tr td, .sheet table tbody tr th {text-align:center;border-bottom:1px solid var(--color-primary);padding-right:0;padding-left:0;}
.sheet table input {width:auto;}
.sheet table input:disabled {background-color:transparent;}
.sheet table select:disabled {background-color:transparent;border:0;appearance:none;width:100%;text-align:center;opacity:1;}

/* Sheets > Table > Lists */
.sheet table.table-list {background:transparent;}
.sheet table.table-list tbody tr th {background-color:var(--color-primary);color:var(--color-white);text-transform:uppercase;letter-spacing:1px;font-family:"Yanone Kaffeesatz", sans-serif;font-size:20px;font-weight:500;padding:6px 15px 2px;text-align:left;border:0;}
.sheet table.table-list tbody tr:not(:first-child) th {border-top:20px solid var(--color-white);}
.sheet table.table-list tbody tr td {border-color:transparent;padding:7px 10px;position:relative;}
.sheet table.table-list tbody tr td:first-child {text-align:left;padding-left:15px;width:30%;}
.sheet table.table-list tbody tr td:last-child:not([colspan]) {text-align:left;padding-right:15px;}
.sheet table.table-list tbody tr + tr td:first-child::before {content:"";position:absolute;top:0;left:0;transform:translate(0,-100%);width:150%;height:1px;background:linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);}
.sheet table.table-list p {margin:0;}

/* Sheets > Feature Box */
.sheet .feature-box {transform:translateX(-15px);position:relative;margin-bottom:15px;}
.sheet .feature-box::before {content:"";position:absolute;top:0;bottom:0;right:0;transform:translateX(100%);height:100%;width:1px;background:linear-gradient(to top, rgba(var(--color-primary-rgb),0) 0%, rgba(var(--color-primary-rgb),.4) 30%, rgba(var(--color-primary-rgb)) 100%);}
.sheet .feature-box::after {content:"";position:absolute;top:0;bottom:0;right:-2px;transform:translateX(100%);height:100%;width:1px;background:linear-gradient(to top, rgba(var(--color-primary-rgb),0) 0%, rgba(var(--color-primary-rgb),.4) 30%, rgba(var(--color-primary-rgb)) 100%);}
.sheet .feature-box .feature-head {padding:7px 15px 4px;background-color:var(--color-primary);color:var(--color-white);text-transform:uppercase;letter-spacing:1px;font-family:"Yanone Kaffeesatz", sans-serif;font-size:20px;display:flex;align-items:center;}
.sheet .feature-box .feature-head > span {margin-left:auto;text-transform:none;font-family:CreditValley;line-height:1;}
.sheet .feature-box .feature-head > span span {font-family:"FnT_BasicShapes1",sans-serif;}
.sheet .feature-box .feature-head input {height:auto;width:50%;border-radius:10px;border:1px solid var(--color-white);box-shadow:none;padding:1px 10px;text-align:left;color:var(--color-white);}
.sheet .feature-box .feature-head span input {width:50px;margin:0 5px;padding:1px 3px;text-align:center;}
.sheet .feature-box .feature-sub {padding:5px 15px 7px;background:linear-gradient(to left, rgba(var(--color-gradient-bg-rgb),0) 0%, rgba(var(--color-gradient-bg-rgb),1) 100%);}
.sheet .feature-box .feature-sub p {margin:0;}
.sheet .editable .feature-box .feature-sub button {margin-bottom:5px;}
.sheet .feature-box .feature-body {padding:5px 15px 0;}
.sheet .feature-box .feature-body p {margin:5px 0;}
.sheet .feature-box .prosemirror menu {border-radius:0;}

/* Sheets > Arcanum Box */
.sheet .arcanum-box {display:flex;flex-direction:column;}
.sheet .arcanum-box .arcanum-head {display:flex;}
.sheet .arcanum-box .arcanum-head > * {flex-grow:1;}
.sheet .arcanum-box .arcanum-head img {width:70px;height:70px;padding:5px;border-radius:0;border:1px solid var(--color-primary);border-left:0;border-bottom:0;flex-grow:unset;flex-shrink:0;}
.sheet .arcanum-box .arcanum-head p {padding:0 15px;display:flex;align-items:center;gap:5px;}
.sheet .arcanum-box .arcanum-head p input, .sheet .arcanum-box .arcanum-body input {background:transparent;border:0;margin:0;padding:0;height:auto;line-height:1.2;}
.sheet .arcanum-box .arcanum-body {border-top:1px solid var(--color-primary);padding:5px 15px;padding-left:40px;overflow:hidden;position:relative;}
.sheet .editable .arcanum-box .arcanum-body {padding:0;padding-left:25px;min-height:80px;}
.sheet .arcanum-box .arcanum-body label {position:absolute;top:0;left:-100%;transform:rotate(-90deg);transform-origin:top right;width:100%;text-align:right;font-size:14px;font-weight:600;text-transform:uppercase;padding:5px 7px 2px;background-color:rgba(var(--color-gradient-bg-rgb));}
.sheet .arcanum-box .arcanum-body input {padding:5px;box-shadow:none;border-radius:0;}
.sheet .editable .arcanum-box .arcanum-body input {border-top:1px solid var(--color-primary);}
.sheet .arcanum-box .arcanum-body .prosemirror menu {border-radius:0;}
.sheet .arcanum-box .btn-container {margin:5px;}
.sheet .arcanum-box .p-container p:not(:last-child) {margin-bottom:0;}
.sheet .arcanum-box .p-container p + p {margin-top:0;}

/* Sheets > Is Feature */
.sheet .editable .is-feature .feature-box .feature-body {padding:0;}
.sheet .is-feature .sheet-body .tab:first-child {display:flex;flex-direction:column;}
.sheet .is-feature .sheet-body .tab[data-tab]:not(.active) {display:none;}
.sheet .is-feature .title {transform:translateX(-15px);}
.sheet .is-feature .feature-box {flex-grow:1;display:flex;flex-direction:column;}
.sheet .is-feature .feature-box .feature-body {flex-grow:1;}
.sheet .is-feature .feature-box .editor {min-height:100%;}
.sheet .is-feature .feature-box .feature-body.has-subitem {padding-left:0;padding-right:0;}
.sheet .is-feature .feature-box .feature-body.has-subitem .editor {min-height:unset;padding-left:15px;padding-right:15px;}
.sheet .is-feature .feature-box .feature-body table {margin-top:5px;}

/* Sheets > Classes */
.sheet .class.editable .flexrow .form-group {flex-basis:33%;}
.sheet .class.editable .flexrow .form-group.w-50 {flex-basis:50%;}
.sheet .class.editable .editor-container {min-height:100px;}
.sheet .class.editable .desc-container .editor-container {min-height:200px;}

.sheet .class .sheet-body {background-size:50px 100%;}
.sheet .class .sheet-body .tab.desc {overflow:visible;}
.sheet .class .sheet-body .title {transform:translateX(-15px);}
.sheet .class .js_changeImage {position:absolute;bottom:15px;left:15px;z-index:2;padding:7px 15px 5px;}
.sheet .class .img-class-primary {border:0;border-radius:0;max-width:100%;height:100%;width:auto;position:absolute;bottom:0;height:525px;left:-52px;}
.sheet .class .form-alias {width:80%;margin:0;position:absolute;top:15px;left:0;padding:8px 20px 3px;background:linear-gradient(to right, rgba(var(--color-gradient-bg-rgb),1) 0%, rgba(var(--color-gradient-bg-rgb),1) 30%, rgba(var(--color-gradient-bg-rgb),0) 100%);font-size:25px;font-family:"Yanone Kaffeesatz", sans-serif;}
.sheet .class .form-alias::before {content:"";position:absolute;top:0;left:0;right:0;width:100%;height:1px;background:linear-gradient(to left, rgba(var(--color-primary-rgb),0) 0%, rgba(var(--color-primary-rgb),.4) 30%, rgba(var(--color-primary-rgb)) 100%);}
.sheet .class .form-alias::after {content:"";position:absolute;bottom:0;left:0;right:0;width:100%;height:1px;background:linear-gradient(to left, rgba(var(--color-primary-rgb),0) 0%, rgba(var(--color-primary-rgb),.4) 30%, rgba(var(--color-primary-rgb)) 100%);}
.sheet .class .form-alias label {flex:unset;text-transform:uppercase;line-height:1;color:var(--text-color);margin-right:5px;}
.sheet .class .form-alias input {width:auto;background:transparent;padding:0;border:0;border-radius:0;line-height:1;color:var(--text-color);}
.sheet .class .summary-container {position:absolute;bottom:405px;right:40px;z-index:1;width:40%;font-family:'EB Garamond',sans-serif;font-size:20px;font-style:italic;color:var(--sheet-text-color);}
.sheet .class .summary-container textarea {font-family:'EB Garamond',sans-serif;font-size:20px;font-style:italic;color:var(--sheet-text-color);margin:0;border:0;border-radius:0;padding:0;max-width:100%;width:100%;background:none;}
.sheet .class .desc-container {position:absolute;right:15px;bottom:15px;z-index:1;width:60%;max-height:382px;overflow:hidden;overflow-y:auto;}
.sheet .class .desc-container .box {padding:5px 15px;border:1px solid rgba(var(--color-primary-rgb),.3);border-radius:10px;background:linear-gradient(to left, rgba(var(--color-gradient-bg-rgb),0) 0%, rgba(var(--color-gradient-bg-rgb),1) 100%);font-size:15px;text-align:justify;color:var(--text-color);}
.sheet .class .desc-container .box + .box {margin-top:15px;}
.sheet .class .list-questions {list-style:diamonds;padding-left:12px;color:var(--text-color);}
.sheet .class .list-questions > li {padding-left:5px;}
.sheet .class .list-questions > li::marker {font-size:12px;color:var(--color-primary);}
.sheet .class .list-questions input {border:0;width:100%;margin:0;background:none;line-height:1.2;height:auto;padding:0;padding-left:5px;color:var(--text-color);}
.sheet .class .feature-box .feature-head button {position:relative;bottom:2px;margin-right:15px;}

/* Sheets > Arcanums */
.sheet .arcanum .sheet-body .tab {padding:15px 0;}

/* Sheets > Rules */
.sheet .rule .sheet-body .tab {padding:0;}
.sheet .rule .editor-container {margin:0;}
.sheet .rule .editor-content {padding:15px;}
.sheet .rule .editor-content h2 {transform:translateX(-15px);}
.sheet .rule .list-content {padding:0 0 15px;}

/* Sheets > Speel */
.sheet .spell .tab.desc {padding:0;}
.sheet .spell .tab.desc.active {display:flex;flex-direction:column;}
.sheet .spell.editable .tab.desc .body-container {flex-grow:1;display:flex;flex-direction:column;}
.sheet .spell .tab.desc .body-container .editor {flex-grow:1;}
.sheet .spell .class-icon img {pointer-events:none;}
.sheet .spell .body-container .editor {padding:15px;}
.sheet .spell .body-container .editor-container {margin:0;}
.sheet .spell .body-container .title {margin-top:15px;}
.sheet .spell .body-container .form-type {padding:0 15px;margin:15px 0 0;}
.sheet .spell table .form-group {gap:5px;}
.sheet .spell table .form-group.mp {gap:0;}
.sheet .spell table .form-group.mp input {margin-right:5px;}
.sheet .spell table .form-group .input-sm {flex:0 0 40px;}
.sheet .spell .form-group input[type="checkbox"] + label {flex:0 0 auto;}
.sheet .spell .form-type select {flex:0 0 0%;margin-right:15px;}
.sheet .spell .form-type p {margin:0;}
.sheet .spell .form-dmg select {flex:0 0 auto;margin-right:15px;}
.sheet .spell .form-dmg input {flex:0 0 auto;margin-right:5px;width:60px;text-align:center;}
.sheet .spell .form-dmg p {margin:0;margin-right:5px;flex:0 0 auto;}
.sheet .spell.locked .body-container .title {margin-top:0;}
.sheet .spell.locked .body-container .editor {min-height:unset;}
.sheet .spell.locked .body-container .editor + .editor {padding-top:0;}