<div class="dice-roll">
	<div class="dice-description">
		<div class="title">
			{{item.name}}
			<div class="icon icon-{{item.system.range}}" data-tooltip="{{localize (concat 'FU.WeaponRanges.' item.system.range)}}"></div>
		</div>
		<div class="description">
			{{{item.system.description}}}
		</div>
	</div>
	{{> 'systems/fabula/templates/chat/common/dice-result.hbs'}}
	{{> 'systems/fabula/templates/chat/common/dice-damage.hbs'}}
</div>