<div class="dice-roll">
	<div class="dice-description">
		<div class="title">
			{{item.name}}
			{{#if item.system.isOffensive.value}}
				<div class="icon icon-offensive"></div>
			{{/if}}
		</div>
		<div class="description">
			{{{item.system.description}}}
		</div>
	</div>
	{{#if item.system.isOffensive.value}}
		{{> 'systems/fabula/templates/chat/common/dice-result.hbs'}}
	{{/if}}
	{{#if item.system.damage.hasDamage.value}}
		{{> 'systems/fabula/templates/chat/common/dice-damage.hbs'}}
	{{/if}}
	{{#allTrue crit.success item.system.opportunity.value}}
		<div class="dice-opportunity">
			<span>Opportunità:</span>
			{{{item.system.opportunityEffect}}}
		</div>
	{{/allTrue}}
</div>