<div class="dice-roll">
	<div class="dice-description">
		<div class="title">
			{{item.name}}
		</div>
		<div class="description">
			{{{item.system.description}}}
		</div>
	</div>
	{{> 'systems/fabula/templates/chat/common/dice-result.hbs'}}
</div>